    :root {
	--background-color: #121118;
	--foreground-color: #fBf7ef;
	--link-color: #cf982e;
	--green-color: #6a7d5f;
	--blue-color: #638691;
	--red-color: #a75141;
	--gray-color: #7c7b77;
}

body {
    background: var(--background-color);
    color: var(--foreground-color);
    font-family: monospace;
	max-width: 40em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

hr {
    background-color: var(--link-color);
	border: none;
	height: 1px;
}

blockquote {
  	margin: 20px 0;
  	padding-left: 20px;
  	border-left: 1px solid var(--link-color);
}

div.highlight {
	min-width: fit-content;
}

.box {
    color: var(--gray-color);
  	margin: 20px 0 30px;
  	padding-left: 20px;
  	border-left: 1px solid var(--link-color);
}

.md-columns {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
}

.md-columns > div {
	flex: 1 1;
	margin: 0rem 0;
	width: 100%;
	min-width: 40em;
	padding: 0 1rem;
}

.md-columns .markdown-inner {
	margin-top: 0;
	margin-bottom: 0;
}

.palette {
	display: flex;
	padding-left: 1em;
}

.palette .color {
    width: 16px;
    height: 16px;
}