{{ define "main" }}
<pre class="hr" style="color: var(--link-color);">
  ___ ___  _____      __  _   ___   _  _ ___ ___ _____ 
 / __| _ \/ _ \ \    / / ( ) / __| | \| | __/ __|_   _|
| (__|   / (_) \ \/\/ /  |/  \__ \ | .` | _|\__ \ | |  
 \___|_|_\\___/ \_/\_/       |___/ |_|\_|___|___/ |_|  
</pre>
<ul>
    <li><b>WRITING</b></li>
    <ul>
    <li><a href="/characters">CHARACTERS</a></li>
    <li><a href="/essays">ESSAYS</a></li>
    <li><a href="/misc">MISC</a></li>
    </ul>
</ul>

<ul>
    <li><b>LITERATURE</b></li>
    <ul>
    <li><a href="//goodreads.com/book/show/10571801">CURRENTLY READING</a> — <i>'Snow Country'</i> by Yasunari Kawabata</li>
    <li><a href="/recommendations">RECOMMENDATIONS</a></li>
    <li><a href="/reviews">REVIEWS</a></li>
    </ul>
</ul>

<ul>
    <li><b>PROJECTS</b></li>
    <ul>

    <li><a href="/worldbuilding">WORLDBUILDING</a></li>
    <li><a href="/artwork">ARTWORK</a></li>
    <li><a href="/code">CODE</a></li>

    </ul>
</ul>
{{ end }}